.form-check-inline{
    display: inline;
}

.main-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}

.boxed{
    border-bottom: 1px solid black;
    margin-bottom: 5rem;
}


.main-container .container{
    flex-grow: 0;
    flex-basis: 50%;
    
}

.err-label{
    color: #ff0033;
    font-size: 12px;
}



.form-control{
    width: 10rem;
}

h2{
    text-align: center;
}
.input-inline{
    display: inline;
}
.label-inline {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}